<div class="jumbotron">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead"><em>In the Green</em> is a budget-tracking app for people living paycheck-to-paycheck.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col">  
    <%= link_to 'Expenses', {controller: 'expenses'}, class: "btn btn-primary btn-lg btn-block" %>
    </div>
  </div>
</div>
